<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                Angular 4 WebApi
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="active" routerLink="">Home</a></li>
                <li><a routerLink="qrcode">QR Code</a></li>
                <li><a routerLink="upload">Upload</a></li>
                <li><a routerLink="product">Product</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <router-outlet></router-outlet>
    <hr />
    <footer>
        <p>Angular 4 WebApi</p>
    </footer>
</div>